.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
_*

*.bak

PROG_METH
COMP_ENG_ESS
AI-summer-2023

jngen.h
testlib.h

SW_DEV_PRAC_*

tempCodeRunnerFile*